<template>
    <div>
        <h2>Users Page</h2>
        <p v-for="user in users" :key='user.id'>
            <router-link 
            :to="{
            name : 'UserSingle',
            params:{
                id:user.id
                },
                }"
            >
            {{ user.id }},{{ user.name }}
            </router-link>
        </p>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                users: [
                    { id:1 , name: 'John'},
                    { id:2 , name: 'Mark'},
                    { id:3 , name: 'Jimmy'},
                    { id:4 , name: 'Elon'},
            ]
            }
        }
    }
</script>